h1 {
    font-family: "Helvetica", sans-serif;
}

ul {
    list-style-type: none;
}


footer {
    text-align: center;
    background-color: #eee;

    /* sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

html {
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.createinput{
    margin-bottom:5px;
}

.goback{
    padding-top: 10px;
}

.submitbuttons{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.goallist{
    margin-top: 10px;
}

/*----------------------------------------------------
Nav bar
-----------------------------------------------------*/
.navbar-header {
    padding: 10px;
    text-transform: uppercase;
}

.navbar {
    background-color: #F8F8F8;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a:link {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #18bc9c; /* flatly teel */
    background-color: #F8F8F8;
}


/*-----------------------------------------------------
Alerting
------------------------------------------------------- */
.error {
    list-style-type: none;
    color: #a94442; /* reddish */
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-size: 12px;
    font-style: italic;
}

.updateAlert {
    background-color: #18bc9c;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
